<div>
  <table id="incidents">
    <thead>
    <tr>
      <th>ID</th>
      <th>Message</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    oTable = $('#incidents').dataTable({
      "bProcessing": true,
      "bJQueryUI": true,
      "sPaginationType": "full_numbers",
      "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
      "iDisplayLength": 25,
      "bServerSide": true,
      "sAjaxSource": '/users/<%= params[:user_id] %>/projects/<%= params[:project_id] %>/incident_groups/<%= @incident_group._id %>/incidents/find'
    });
  } );
</script>