<div>
  <h2>Incident # <%= @incident._id %></h2>
  <div>
    <h3>Stack Trace:</h3>
    <div><%= @incident.stack_trace %></div>
  </div>
  <div>
    <h3>Occurred At:</h3>
    <div><%= @incident.occurred_at %></div>
  </div>
</div>