<div>
  <h2>Incident # <%= @incident_group._id %></h2>
  <div>
    <h3>Stack Trace:</h3>
    <div><%= @incident_group.stack_trace %></div>
  </div>
  <div>
    <h3>Occurred At:</h3>
    <div><%= @incident_group.occurred_at %></div>
  </div>
</div>